

#section
{
	height: 450px;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
	background: #ef542d radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ef542d 70%);

}
p
{

	font-family: 'Diplomata', cursive;
	color: #fff;
	font-size: 3em;

	
}
button
{
  			background-image: linear-gradient(to bottom, #3498db, #2980b9);    
        	border-radius: 4px;
        	height: 50px;
        	width: 100px;
        	font-size: 20px;
          margin-top:80px;

            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}
/* gallery*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
/*gallery closed*/

/*social*/
body {
  background: #ccc; }

#social-icon-wrapper {
  width: 200px;
  height: auto;
  margin: 10px auto; }

.social-icon {
  display: block;
  width: 61px;
  height: 60px;
  float: left;
  margin-top: 30px;
  margin-right: 5px;
  text-align: left;
  background: transparent url(http://digital-hideaway.com/always/social-icons.png) 0 0 no-repeat;
  background-size: 200px; }

#twitter {
  background-position: 0px 0px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }

#twitter:hover {
  background-position: 0px -62px; }

#facebook {
  background-position: -69px 0px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }

#facebook:hover {
  background-position: -69px -62px; }

#linkedin {
  background-position: -139px 0px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }

#linkedin:hover {
  background-position: -139px -62px; }